useDynLib(spKrylov, .registration=TRUE)
exportPattern("^[[:alpha:]]+")
importFrom("stats", "nlminb", "rnorm")
importFrom("utils", "head")
importFrom(Rcpp, evalCpp)
export(krylov.logdet)
export(krylov_neg_loglik)
export(krylov_estimate)
export(krylov_mle)